.albumContents {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.albumContents h1 {
    font-size: 3em ;
}

.albumPhotos {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}

.albumPhotos a {
    margin: 0;
    /* background-color: rgba(0, 0,0,.4); */
    width: 250px;
    height: 150px;
}

#stockPhoto {
    width: 100%;
    height: auto;
    opacity: .5;
    /* position: absolute; */
}

#noPhotos {
    position: absolute;
    /* right: 47%; */
    font-size: 1.5em;
    font-weight: bold;
}

.noPhotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}