div.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50%;
}

footer {
  background-color: black;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
