/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./stylesheets/images/StockSnap_1FU4KJBQSZ.jpg');
  background-size: 100%;
}
