.loginContainer {
  /* background-color: red; */
  background-image: url('../../images/LogAndSign.jpg');
  background-size: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginContainer form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  border-radius: 1%;
}

.loginContainer form > div {
  display: flex;
  justify-content: center;
}

.circleContainer {
  width: 20px;
  /* background-color: blue; */
  display: flex;
}

.formCircleOne {
  background-color: #FF0084;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-right: 2px;
}

.formCircleTwo {
  background-color: #0063DC;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-left: 2px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;;
}

.formHeader h3 {
  padding: 5px;
  /* background-color: aliceblue; */
}

label {
  padding: 5px 0;
  /* margin-left: 50px; */
}

input {
  margin: 10px;
  padding: 8px 0;
  border: none;
  outline: none;
}

.buttonDiv {
  /* background-color: teal; */
  width: 250px;
  border-top: solid thin lightgray;
}

button {
  margin: 10px;
  padding: 15px;
  width: 230px;
  border: none;
  background-color: white;
  color: gray;
}

button:hover {
  transition: 1s;
  color: black;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5%;
}
