* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: absolute;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav li {
  list-style-type: none;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a.home {
  font-size: 26px;
  margin-left: 50px;
  color: white;
}

a.home:hover {
  cursor: pointer;
}

.firstBall {
  position: absolute;
  background-color: #FF0084;
  width: 9px;
  height:  9px;
  margin-left: 25px;
  border-radius: 50%;
}

.secondBall {
  position: absolute;
  background-color: #0063DC;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-left: 37px;
}

.sessionLinks {
  /* background-color: burlywood; */
  width: 210px;
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
  margin-right: 20px;
}

.login {
  color: white;
  font-size: 16px;
}

.signUp {
  color: black;
  background-color: white;
  padding: 4px 20px;
  font-size: 16px;
  border-radius: 5%;
}

.signUp:hover {
  transition: 500ms;
  color: gray;
}

.profileMenu {
  /* position: absolute; */
  display: flex;
  justify-content: flex-start;
  /* background-color: red; */
  width: 200px;
  height: 50px;
  margin-right: 20px
}

.profile-dropdown {
  background-color: lightgray;
  /* display: flex; */
  /* justify-content: center; */
  margin-top: 50px;
  width: 180px;
  height: 130px;
  border-radius: 4%;
}

.profileMenu button {
  /* background-color: purple; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 30px;
  outline: none;
}

.profileMenu li {
  /* background-color: lightgray; */
  padding: 7px;
  /* width: 120px;
  height: 50px; */
  width: auto;
  height: auto;
}

button.logoutMenu {
  background-color: lightgray;
  width: auto;
  border: none;
  padding: 0;
  margin: 0;
}

button.logoutMenu:hover {
 background-color: lightgray;
}

.profile-dropdown a {
  /* text-decoration: none; */
  color: white;
}
